<% provide(:title, @user.name) %>
<h1>【 勤怠ログ 】</h1>

<div class = "m5px">
  <%= form_with(model: @attendances, url: attendance_log_user_path(date: @first_day), method: :get, local: true) do |f| %>
    <%= f.month_field :worked_on, {} %>
    <%= f.submit '検索', class:"btn btn-sm btn-primary" %>
    <%= link_to "Reset", attendance_log_user_path(date: @first_day), class:"btn btn-sm btn-warning" %>
  <% end %>
</div>

<table class="table table-bordered table-striped table-condensed table-hover" id="table-attendances">
  <thead>
    <tr>
      <th>日付</th>
      <th>変更前出社時間</th>
      <th>変更前退社時間</th>
      <th>変更後出社</th>
      <th>変更後退社</th>
      <th>指示者</th>
      <th>承認日</th>
    </tr>
  </thead>
   <% if @attendances.present? %>
    <% @attendances.each do |day| %>
      <tbody>
        <tr>
        <% if day.edit_day_request_status == "承認" %>
          <!--日付-->
          <td><%=  l(day.worked_on, format: :short)  %></td>
          <!--変更前-->
          <td><%= l(day.edit_day_started_at, format: :time) if day.edit_day_started_at.present? %></td>
          <td><%= l(day.edit_day_finished_at, format: :time) if day.edit_day_finished_at.present? %></td>
          <!--変更後-->
          <td><%= l(day.last_edit_day_started_at, format: :time) if day.last_edit_day_started_at.present? %></td>
          <td><%= l(day.last_edit_day_finished_at, format: :time) if day.last_edit_day_finished_at.present? %></td>
          <!--指示者-->
          <td><%= User.find(day.edit_day_request_superior).name %></td>
          <!--承認日-->
          <td><%= l(day.updated_at, format: :time) %></td>
        <% end %>          
        </tr>
      </tbody>
    <% end %>
  <% end %>    
</table>


<div class="center">
  <%= link_to "勤怠へ戻る", user_path(date: @first_day), class: "btn btn-md btn-default" %>
</div>
