<% provide(:title, 'ユーザー一覧ページ') %>
<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '編集する') %>
<h1>ユーザー一覧</h1>

<div class="pull-right">
  <h4>あいまい検索</h4>
  <%= form_with url: users_path, :method => 'get', local: true do |f| %>
    <%= f.text_field :search %>
    <%= f.submit '検索', name: nil, class: "btn btn-primary" %>
  <% end %>
</div>


  <%= will_paginate %>
    <% @users.each do |user| %>
      <% unless user.admin? %>
        <table>
          <div class="row">
            <tr>
              <%= user.name %><br>
              <td class="center">
                <%= "|" %>
                  <%= link_to "削除", user, method: :delete,
                      data: { confirm: "削除してよろしいですか？"}, class: "btn btn-primary" %>
              </td>
            </tr>
          </div>
        </table>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <button type="button" class="btn btn-lg btn-primary" data-toggle="collapse" data-target="#collapse<%= user.id %>">編集</button>
            </h4>
          </div>
          <div id="collapse<%= user.id %>" class="panel-collapse collapse out">
            <div class="panel-body">
              <%= render 'users/form_index', {user: user} %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <%= will_paginate %>

