<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <%= link_to "⇦", user_path(date: @first_day.prev_month), class: "btn btn-primary" %>
        【<%= l(@first_day, format: :middle) %>】時間管理表
        <%= link_to "⇨", user_path(date: @first_day.next_month), class: "btn btn-primary" %>
      </td>
      <td>指定勤務開始時間 : <%= format_basic_info(@user.designated_work_start_time) %><br>
          指定勤務終了時間 : <%= format_basic_info(@user.designated_work_end_time) %>
      </td>
      <td  colspan="3">基本勤務時間 : <%= format_basic_info(@user.basic_work_time) %></td>
      <td>月初日 : <%= l(@first_day, format: :short) %></td>
    </tr>
    
    <tr>
      <td>所属: <%= @user.department.present?? @user.department : "未所属" %></td>
      <td>名前: <%= @user.name %></td>
      <td>コード : </td>
      <td><%= @user.employee_number %></td>
      <td>出勤日数 : <%= @worked_sum %>日</td>
      <td>月末日 : <%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<div class="btn-users-show">
  <% if current_user.superior? %>
    <% if @edit_monthly_request.present? %>
      <!--= link_to "【サンプル　所属長承認申請のお知らせ】", user_attendance_sample_edit_one_month_notice_path(@user, @attendances) %> -->
      <%= link_to "【所属長承認申請のお知らせ】", user_attendance_edit_one_month_notice_path(@user, @attendances), remote: true, class: "text text-danger" %><%= @edit_monthly_request.count %>件
    <% else %>
      <a>【所属長承認申請のお知らせ】</a>
    <% end %>
    <br>
  <% if @edit_day_reqest.present? %>
      <%= link_to "【勤怠変更のお知らせ】", user_attendance_edit_day_notice_path(@user, @attendances), remote: true, class: "text text-danger" %><%= @edit_day_reqest.count %>件
    <% else %>
      <a>【勤怠変更申請のお知らせ】</a>
    <% end %>
    <br>
    <% if @overwork_reqest.present? %>
      <%= link_to "【残業申請のお知らせ】", user_attendance_edit_overwork_notice_path(@user, @attendances), remote: true, class: "text text-danger" %><%= @overwork_reqest.count %>件
    <% else %>
      <a>【残業申請のお知らせ】</a>
    <% end %>
  <% end %>

  <br>
    <% if current_user?(@user) %>
      <span class="m5px">
        <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
      </span>
      <span><%= link_to "CSV出力", csv_export_user_path(format: :csv, date: @first_day), class: "btn btn-primary" %><br></span>
        <div class="m5px">
          <%= link_to "勤怠修正ログ（承認済）", attendance_log_user_path(date: @first_day), class: "btn btn-primary" %>
        </div>
    <% end %>
  </br>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
      <th rowspan="2">残業申請</th>
      <th rowspan="3">日付</th>
      <th rowspan="3">曜日</th>
      <th colspan="7">【実績】</th>
      <th colspan="5">所定外勤務</th>
    </tr>
    <tr>
      <th colspan="3">出社</th>
      <th colspan="2">退社</th>
      <th rowspan="2">在社時間</th>
      <th rowspan="2">備考</th>
      <th colspan="2">終了予定時間</th>
      <th rowspan="2">時間外残業</th>
      <th rowspan="2">業務処理内容</th>
      <th rowspan="2">指示書確認㊞</th>
    </tr>
    <tr>
      <th>残業申請</th>
      <th>時</th>
      <th>分</th>
      <th></th>
      <th>時</th>
      <th>分</th>
      <th>時</th>
      <th>分</th>
    </tr>
    </thead>
    
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td><%= link_to "残業申請", user_attendance_edit_overwork_reqest_path(@user, day), remote: true, class: "btn btn-primary" %></td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td class='<%= "wday#{day.worked_on.wday}" %>'><%= $days_of_the_week[day.worked_on.wday] %></td>
          
          <% if day.last_edit_day_started_at.nil? && day.edit_day_request_status == "承認" %>
            <td><%= l(day.edit_day_started_at, format: :hour) %></td>
            <td><%= l(day.edit_day_started_at.floor_to(15.minutes), format: :min) %></td>
          <% elsif day.edit_day_started_at.present? && day.edit_day_request_status == "承認" %>
            <td><%= l(day.last_edit_day_started_at, format: :hour) %></td>
            <td><%= l(day.last_edit_day_started_at.floor_to(15.minutes), format: :min) %></td>
          <% else %>
            <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
            <td><%= l(day.started_at.floor_to(15.minutes), format: :min) if day.started_at.present? %></td>
          <% end %>
          <td>
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <% if day.last_edit_day_started_at.nil? && day.edit_day_request_status == "承認" %>
            <td><%= l(day.edit_day_finished_at, format: :hour) %></td>
            <td><%= l(day.edit_day_finished_at.floor_to(15.minutes), format: :min) %></td>
          <% elsif day.last_edit_day_finished_at.present? && day.edit_day_request_status == "承認" %>
            <td><%= l(day.last_edit_day_finished_at, format: :hour) %></td>
            <td><%= l(day.last_edit_day_finished_at.floor_to(15.minutes), format: :min) %></td>
          <% else %>
            <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
            <td><%= l(day.finished_at.floor_to(15.minutes), format: :min) if day.finished_at.present? %></td>
          <% end %>
          <td>
            <% if day.finished_at.present? && day.edit_day_finished_at.nil? %>
              <%= working_times(day.started_at, day.finished_at) %>
            <% elsif day.edit_day_finished_at.present? && day.edit_day_request_status == "承認" %>
              <%= edit_working_times(day.edit_day_started_at, day.edit_day_finished_at, day.next_day) %>
            <% end %>
          </td>
          
          <td><%= day.note %></td>
        <% if day.over_request_status == "承認" %>
          <td><%= l(day.scheduled_end_time, format: :hour) %></td>
          <td><%= l(day.scheduled_end_time.floor_to(15.minutes), format: :min) %></td>
            <% if day.scheduled_end_time.present? %>
              <td><%= working_overtime(day.scheduled_end_time, @user.designated_work_end_time, day.next_day) %></td>
            <% else %>
              <td></td>
            <% end %>
          <td><%= day.work_description %></td>
        <% else %>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        <% end %>
          <td>
            <% if day.scheduled_end_time.present? %>
              <%= superiors(day.over_request_superior).name %>
                <% if day.over_request_status == "申請中" %>
                  へ 
                <% else %>
                  より結果 → 
                <% end %>
              残業 <%= day.over_request_status %>
            <% end %>
            <br>
            <% if day.edit_day_request_superior.present? %>
              <%= User.find(day.edit_day_request_superior).name %>
                <% if day.edit_day_request_status == "申請中" %>
                  へ 
                <% else %>
                  より結果 → 
                <% end %>
              勤怠変更 <%= day.edit_day_request_status %>
            <% end %>
          </td>
        </tr>
      </tbody>
    <% end %>
    
    <tfoot>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <td rowspan="2"></td>
        <td colspan="2">累計日数</td>
        <td colspan="6">総合勤務時間</td>
        <td colspan="6"></td>
      </tr>
      <tr>
        
        <td colspan="2"><%= @attendances.count %></td>
        <td colspan="6"><%= format_basic_info(@user.basic_work_time).to_f * @worked_sum %></td>
        <td colspan="5"></td>
        <td>
          
          <% if @apply.edit_one_month_request_superior.present? %>
          <%= User.find(@apply.edit_one_month_request_superior).name %>
            <% if @apply.edit_one_month_request_status == "申請中" %>
              へ
            <% else %>
              より結果 →
            <% end %>
          <%= @apply.edit_one_month_request_status %>
        <% end %>
        <br>
        <%= form_with(model: @attendance, url: attendances_edit_monthly_request_user_path(date: @first_day), local: true, method: :patch) do |f| %>
          <%= f.collection_select(:edit_one_month_request_superior, @superiors, :id, :name, { include_blank: "選択してください" }, :required => true) %>
        <br>
        <%= f.submit "変更を送信する", class: "btn btn-primary" %>
        <% end %>
      </td>
        
      </tr>
    </tfoot>    
  </table>
</div

<!--モーダルウインドウ-->
<div>
  <!--[残業申請モーダル]-->
  <div id="edit-overwork-reqest" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  <div id="edit-overwork-notice" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  <div id="edit-day-notice" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  <div id="edit-one-month-notice" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>