<%= form_with(model: @user, url: edit_overwork_approval_user_attendances_path(@user), local: true, method: :patch) do |f| %>
  <div class="modal-dialog modal-lg modal-dialog-center">
    <div class="modal-content">
      <div class="modal-header" style="border:none">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% @attendances.each do |id, attendances| %>
        <% user = User.find(id) %>
        <h4 class="modal-title center">【<%= user.name %>】からの残業申請</h4>
          <div class="modal-body">
                <table class="table table-bordered table-position">
                  <thead>
                    <tr>
                      <th>日付</th>
                      <th>曜日</th>
                      <th>終了予定時間</th>
                      <th>時間外時間</th>
                      <th>業務処理内容</th>
                      <th>指示者確認印</th>
                      <th>変更</th>
                      <th>勤怠を確認する</th>
                    </tr>
                  </thead>
                  <% attendances.each do |day| %>
                    <%= f.fields_for "attendances[]", day do |item| %>
                      <tbody>
                        <tr>
                          <td><%= l(day.worked_on, format: :short) %></td>
                          <td class='<%= "wday#{day.worked_on.wday}" %>'><%= $days_of_the_week[day.worked_on.wday] %></td>
                          <td><%= l(day.scheduled_end_time, format: :time) %></td>
                          <td><%= working_overtime(day.scheduled_end_time, user.designated_work_end_time, day.next_day) %></td>
                          <td><%= day.work_description %></td>
                          <td><%= item.select :over_request_status, ['なし', '申請中', '承認', '否認'] %></td>
                          <td><%= item.check_box :change, id: "test" %></td>
                          <td><%= link_to "確認", "#", target: :_blank, class: "btn btn-primary" %></td>
                        </tr>
                      </tbody>
                    <% end %>
                  <% end %>
                </table>
              </div>
          <% end %>
        <div class= center>
          <%= submit_tag "変更を送信する", class: "btn btn-md btn-primary" %>
      </div>  
    </div>
  </div>
<% end %>